<a href="https://colab.research.google.com/github/cryptobills/Sql-with-python/blob/main/Python_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**WRITING SQL SYNTAX on Python libraries using cell magic**

*#1 import pandas for reading the dataset(csv) however, good knowledge of unzipping and extracting .tar and .zip file would help as most files exported from an sql database is zipped.*

In [ ]:
import pandas as pd

link to dataset: 'https://sds-platform-private.s3-us-east-2.amazonaws.com/uploads/P9-ConsumerComplaints.csv'

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving P9-ConsumerComplaints.csv to P9-ConsumerComplaints.csv

In [ ]:
df=pd.read_csv('P9-ConsumerComplaints.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (5,11) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
#df.head()

In [ ]:
df.columns

Index(['Date Received', 'Product Name', 'Sub Product', 'Issue', 'Sub Issue',
       'Consumer Complaint Narrative', 'Company Public Response', 'Company',
       'State Name', 'Zip Code', 'Tags', 'Consumer Consent Provided',
       'Submitted via', 'Date Sent to Company', 'Company Response to Consumer',
       'Timely Response', 'Consumer Disputed', 'Complaint ID'],
      dtype='object')

In [ ]:
df.shape

(65499, 18)

Import and install sql shell

In [ ]:
#import sqlite3
#!pip install ipython-sql

###The next step is to create a database like you would do in mysql or any other sql engine. I have named this database complaints and connected it to sqlite3. If need be, i can added several other tables to this database.In the next cell, I added the table(angry) to the database(complaints)#####

In [ ]:
cnn=sqlite3.connect('complaints.db')

In [ ]:
df.to_sql('angry',cnn)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:2615: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

Loaded the sql extension and connected my created database.

In [ ]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
%sql sqlite:///complaints.db

'Connected: @complaints.db'

###Now we are set.
In order to write the sql script successfully, we would use the cell magic %%sql before the select statement###

In [ ]:
%%sql

select * from angry limit 3

 * sqlite:///complaints.db
Done.

[(0, '2013-07-29', 'Consumer Loan', 'Vehicle loan', 'Managing the loan or lease', None, None, None, 'Wells Fargo & Company', 'VA', '24540', None, None, 'Phone', '2013-07-30', 'Closed with explanation', 'Yes', 'No', 468882),
 (1, '2013-07-29', 'Bank account or service', 'Checking account', 'Using a debit or ATM card', None, None, None, 'Wells Fargo & Company', 'CA', '95992', 'Older American', None, 'Web', '2013-07-31', 'Closed with explanation', 'Yes', 'No', 468889),
 (2, '2013-07-29', 'Bank account or service', 'Checking account', 'Account opening, closing, or management', None, None, None, 'Santander Bank US', 'NY', '10065', None, None, 'Fax', '2013-07-31', 'Closed', 'Yes', 'No', 468879)]

**QUESTION 1**: FIND OUT HOW MANY COMPLAINTS WERE RECEIVED AND SENT ON THE SAME DAY?

In [ ]:
%%sql

SELECT count  ([Complaint ID]) as number_of_complaints
FROM angry 
WHERE [Date Received]=[Date Sent to Company]

 * sqlite:///complaints.db
Done.

[(28737,)]

**QUESTION 2** Extract the complaints received in the state of new york

*##nb: i used a square bracket on column names with space as this version of python didn't add an auto _(underscore) and with column spaces your query will return an error#########*

In [ ]:
%%sql

SELECT [Complaint ID],Issue,[State Name]
From angry
WHERE [State Name]='NY' LIMIT 3

 * sqlite:///complaints.db
Done.

[(468879, 'Account opening, closing, or management', 'NY'),
 (469057, 'Loan modification,collection,foreclosure', 'NY'),
 (469070, 'Loan modification,collection,foreclosure', 'NY')]

**QUESTION 3** Extract the complaints received in the state of new york and california

In [ ]:
%%sql

SELECT [Complaint ID],Issue,[State Name]
From angry
WHERE  [State Name] in ('NY','CA')
ORDER BY 3 LIMIT 2

 * sqlite:///complaints.db
Done.

[(468889, 'Using a debit or ATM card', 'CA'),
 (469284, 'Loan servicing, payments, escrow account', 'CA')]

**QUESTION 4** Extract all rows with the word "Credit" in the product field

In [ ]:
%%sql

select [Complaint ID], [Product Name]
from angry
where [Product Name] like '%Credit%' limit 5

 * sqlite:///complaints.db
Done.

[(469026, 'Credit card'),
 (469131, 'Credit card'),
 (474204, 'Credit reporting'),
 (469201, 'Credit reporting'),
 (479990, 'Credit card')]

**QUESTION 5** Extract all rows with the word "Late" in the product field

In [ ]:
%%sql

select [Complaint ID], [Issue]
from angry
where [Issue] like '%Late%' Limit 5

 * sqlite:///complaints.db
Done.

[(471204, 'Late fee'),
 (463829, 'Late fee'),
 (488956, 'Late fee'),
 (492046, 'Late fee'),
 (492446, 'Late fee')]

**THE END**

twitter: @tu_babs
Linkedin:https://www.linkedin.com/in/mosesotu